/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* HEADER */
header {
    height: 80px;
    background-color: lightblue;
}

/* MAIN */
main {
    height: calc(100vh - 200px);
    background-color: bisque;
}

/* FOOTER */
footer {
    height: 120px;
    background-color: black;
}