/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* HEADER */
header {
    height: 80px;
    background-color: black;
}
header ul {
    display: flex;
    list-style: none;
    justify-content: right;
}
header li {
    background-color: grey;
    color: white;
    margin: 10px;
    padding: 3px;
    border-radius: 5%;
}

/* MAIN */
main {
    height: calc(100vh - 160px);
    background-color: black;
    overflow-y: auto;
}
.container {
    width: 90%;
    margin: 0 auto;
}
.card {
    position: relative;
    margin: 5px;
}
.card h4 {
    color: white;
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    bottom: 5px;
    left: 0;
}
.flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
/* FOOTER */
footer {
    font-size: 25px;
}
.arrow {
    font-size: 15px;
}
footer {
    height: 80px;
    background-color: #222222;
}
.footer-flex {
    display: flex;
    justify-content: space-between;
    height: 100%;
}
footer ul {
    list-style: none;
    display: flex;
    align-items: center;
    color: white;
}
footer li {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: white;
    margin: 0 10px;
}
.green {
    color: green;
}
ul a {
    display: flex;
    background-color: lightgrey;
    height: 100%;
    align-items: center;
    color: red;
    text-decoration: none;
    font-size: 20px;
    padding: 0 10px;
}
.height100 {
    height: 100%;
}